trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- script: echo "Running Frontend Pipeline"
  displayName: 'Print Hello'

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Build.SourcesDirectory)'
    Contents: '**'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'

- task: AWSCLI@1
  inputs:
    awsCredentials: 'aws-s3-connection'
    awsCommand: 's3'
    awsSubCommand: 'cp'
    awsArguments: '$(Build.ArtifactStagingDirectory)/index.html s3://hello-world-devops-pc/frontend/index.html --acl public-read'
    regionName: 'us-east-1'  # e.g., us-east-1
  displayName: 'Upload index.html to S3'

